<% layout('layouts/boilerplate') %>
<div class="row d-flex justify-content-center align-items-center text-bg-dark vh-100">
    <div class="col-6">
        <h1 class="text-center display-4">ゴールマップへようこそ</h1>
        <p class="fs-4 fw-light">
            未来の目標を設定: まず、達成したい未来の状態やゴールを明確にします。
            例えば、10年後に持続可能な社会を実現する、会社の売上を倍増させる、など。
            <br>逆算して必要なステップを特定: 目標を達成するために必要なステップやマイルストーンを、
            現在からではなく未来から逆算して特定します。
            <br>現在の行動を決定: 逆算したステップを元に、
            今からどのような行動を取るべきかを計画します。
            これにより、現在の状況や制約に縛られず、より柔軟でクリエイティブな計画が可能になります。
        </p>
    </div>
</div>